<div class="card flex justify-content-center">
  <p-card header="Vestido" subheader="Levis" [style]="{ width: '260px' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://mpir.halarastatic.com/upload/online/32/19/14/05/24/_2441910573-750x.webp" />
      </ng-template>
      <p>
        Mono fluido cuello V botón manga corta bolsillo lateral plisado pierna ancha
      </p>
      <a href="">Ver mas</a>
      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
              <p-button label="Comprar" severity="secondary" class="w-full" styleClass="w-full" />
              <p-button class="w-full" class="w-auto"><span class="pi pi-shopping-cart"></span></p-button>
          </div>
      </ng-template>
  </p-card>
</div>
